<div class="row center-it mtop-20">
	<div class="col-md-2 col-md-offset-5">
		<%= link_to 'New Contact', new_contact_path, class: "btn btn-success" %>
	</div>
</div>

<div class="row center-it">
	<div class="col-md-8 col-md-offset-2">
		<h3>Look Up Your Contacts</h3>

		<div>
			<%= form_tag(contact_search_path) do %>
				<%= text_field_tag :name, nil, placeholder: "Contact Name" %><br />
				<%= submit_tag "Search by Name", class: "btn btn-info" %>
			<% end %>
		</div>

	</div>
</div>